 <!-- <div style="height:80px;background-color:burlywood;"><app-header></app-header></div>
<div style="height:400px;background-color:bisque;"><app-home></app-home></div>
<div style="height:80px;background-color:rgb(230, 201, 164);"><app-footer></app-footer></div> 

<div style="height: 100vh; background-color: rgb(247, 210, 210); display: flex; justify-content: center; align-items: center;">
 
    <app-residences></app-residences>
<app-home></app-home>
  </div> -->
  
<app-nav-bar-component></app-nav-bar-component>
<app-footer></app-footer>
<router-outlet></router-outlet>

