<!-- <p>home works!</p>
<div> Interpolation : {{VAR1}}</div>
<div> </div>
<div>  Property Binding : <img [src] ='VAR2' height="50" width ="50"></div>
<div>Event Binding: <button (click)="function1()">CLick meeeeeee</button></div>
<div>twowaydatabinding : <input type="texte" [(ngModel)]="VAR3"></div>
<div class="interpolation">VAR3::{{VAR3}}</div>

<div *ngIf="VAR1 else template">
    <h4>bonjouurr</h4>
</div>
<ng-template #template >bonsoirr</ng-template>

<ul *ngFor="let item of MyList">
    <li>{{item}}</li>
</ul>

<ul *ngFor=" let item of MyListt , let i=index">
    <li>{{i}} : {{item}}</li>
</ul> -->
<h1 class="text-center my-4">Home Page</h1>




